<% include header_simple %>
<% include loginModal %>
<% include forgotModal %>
<% include messageModal %>

<div class="container-fluid" id="mainBody">
    <h1> Error: <%=errorMessage %> </h1>
</div>
<% include footer %>