<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ProjectS</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="./css/signin.css" rel="stylesheet">   
</head>
<body>

<% if (message) { %>
<p><%= message %></p>
<% } %>
<div class="container">
      <form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" name="rememberme" value="rememberme"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
      </form>
 </div>
<p><small>Hint - bob@example.com:secret</small></p>
<% include footer %>
