<% include header %>
<% include messageModal %>

<div class="container">
<h2>Please define a new Password for <%= resetUser.username %> </h2>
<form role="form" action="/resetPassword/<%= token %>" method="post" id="resetPasswordForm" >
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm inserted Password">
  </div>
  
  <button type="submit" id="resetPasswordButton" class="btn btn-primary btn-lg active">Submit</button>
  <button type="reset" class="btn btn-default btn-lg active">Clear</button>
  
</form>
</div>
<div id="modal-template"></div>
<% include footer %>
