<div id="removeUser-modal-template"></div>

<h1> <%= title %> </h1>

<div id="userlist-table"></div>
<div id="userlist-pagination" class="pull-right" ></div>
<div class="container-fluid"><button type="button" class="btn btn-default" nohref>  <i class="fa fa-download fa-2x"></i> Download</button> </div>